@using CapaEntidades;

@{
    ViewBag.Title = "MenuPrincipal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    entEmpleado e = (entEmpleado)Session["Empleado"];

}

<div class="container-fluid px-4">
    <h1 class="mt-4">¡Hola! Me alegra verte de nuevo @e.nombres @e.apellidos</h1>
</div>

